<li class="comments">
  <% @entry.comment.each do |comment| %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to gravatar_for(comment.entry.user, size: 50), comment.entry.user %>
        <span class="user text-info"><%= link_to comment.entry.user.name, comment.entry.user %>: </span>
        <span class="timestamp">
          <%= time_ago_in_words(comment.created_at) %> ago.
        </span><br />
        <div class="comment-content">
          <%= comment.content %>
        </div>
      </div>
    </div><br>
  <% end %>
</li>
